
div#ar {
	background:url(/img/ar-design.png);
	background-repeat:no-repeat;
	width:230px;
	height:141px;
	float:left;
	}
	
	
div#design {
	background:url(/img/bts-new_0000s_0009_Design-copy-2.png);
	background-repeat:no-repeat;
	width:141px;
	height:141px;
	float:left;
	}
	
	

div#design:hover {
	background:url(/img/bts-new_0000s_0009_Design-copy-3.png);
	background-repeat:no-repeat;
	}
	

div#design ul{
	width:141px;
	margin-top:141px;
	float:right;
	display:none
	}
		
div#design ul li{
	background:#038800
	}
	
div#design ul li:hover{
	background:#04a500;
	}

div#design:hover > ul {
	display:block
}