/* make keyframes that tell the start state and the end state of our object */
@keyframes pulsate {
     0% {opacity: 0;}
    50% {opacity: 1.0}
    100% {opacity: 0}
}
@-moz-keyframes pulsate {
     0% {opacity: 0;}
    50% {opacity: 1.0}
    100% {opacity: 0}
}
@-webkit-keyframes pulsate {
     0% {opacity: 0;}
    50% {opacity: 1.0}
    100% {opacity: 0}
}

/* PRELOADER */
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#dbe9ed;
    z-index:15000;
}

#status {
    
    position: absolute;  
    top: 50%;
    left: 50%;    
    width: 510px;
    margin-left: -260px;
    height: 156px;
    margin-top: -80px;
    
    background:url(../img/jr.png?a) center center no-repeat;
}

#status {
    opacity: 1;
	animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
	-moz-animation: pulsate 2s ease-out;
    -moz-animation-iteration-count: infinite;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}

/* PAGE */
body {
    background: #dbe9ed;
}

#home {    
    position: absolute;  
    top: 50%;
    left: 50%;    
    width: 510px;
    margin-left: -255px;
    height: 156px;
    margin-top: -78px;
}

#home div ul {
    width: 510px;
    padding: 0;
    margin: 0;
    display: inline;
    list-style: none;
    float: left
}

#home div ul li {
    display: inline;
}

#home div ul li a {
    float: left;
    display: block;
    padding: 30px 45px;
    width: 80px;
    height: 100px;
}

#home div ul li a.mnu-des {
    background: url(../img/d.png?b) center center no-repeat;
}
#home div ul li a.mnu-ilu {
    background: url(../img/i.png?b) center center no-repeat;
}
#home div ul li a.mnu-con {
    background: url(../img/c.png?b) center center no-repeat;
}
#home div ul li a.mnu-des:hover {
    background: url(../img/d-hover.png?b) center center no-repeat;
}
#home div ul li a.mnu-ilu:hover {
    background: url(../img/i-hover.png?b) center center no-repeat;
}
#home div ul li a.mnu-con:hover {
    background: url(../img/c-hover.png?b) center center no-repeat;
}