<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Julio Raid Portifolio">
	<meta name="author" content="Julio Raid">
	
	<title>{{ page.title }} &#8211; Julio Raid</title>
	<link href="/css/main.css" rel="stylesheet" type="text/css" />
	<link href="/css/{{ page.style }}.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="favicon.ico">
</head>

<body>
	
	<div id="site">
		<a href="/"><div id="ar"></div></a>
		<div id="design">
			<ul>
				<a href="/design/comunicacao.html"><li>Comunica&ccedil;&atilde;o</li></a> 
				<a href="/design/mobile.html"><li>Mobile</li></a>
				<a href="/design/web.html"><li>Web</li></a>
				<a href="/design/impressos.html"><li>Impressos</li></a>
				<a href="/design/outros.html"><li>Outros</li></a>
			</ul>
		</div>
		<div id="ilustracao">
			<ul>
				<a href="/ilustracao/comercial.html"><li>Comercial</li></a> 
				<a href="/ilustracao/pessoal.html"><li>Pessoal</li></a>
				<a href="http://www.angelraid.com.br/lilibras/"><li>Lili</li></a>
				<a href="/ilustracao/sabrina.html"><li>Sabrina</li></a>
			</ul>
		</div>
		<div id="tresd">
			<ul>
				<a href="/3d/animacao.html"><li>Anima&ccedil;&atilde;o</li></a>
				<a href="/3d/render.html"><li>Render</li></a>
			</ul>
		</div>
		<div id="eu">
			<ul>
				<a href="/eu/curriculo.html"><li>Curr&iacute;culo</li></a> 
				<a href="/eu/sobre-mim.html"><li>Sobre mim</li></a>
				<a href="/eu/contato.html"><li>Contato</li></a>
			</ul>
		</div>
		
		<div id="pop">
			<a href="https://facebook.com/julioraid" target="_blank"><div id="facebook"></div></a>
			<a href="http://www.flickr.com/angel_raid" target="_blank"><div id="flickr"></div></a>
			<a href="contato.html" target="_blank"><div id="email"></div></a>
		</div>
	</div>
	<div id="banner">
	</div>
	
	{{ content }}
	
</body>
</html>